.errors{
    color: red;
}
.title{
    font-size: 2.5rem;
    font-family: sans-serif;
}
.formContainer{
    padding-top: 10px;
    margin: 0 auto;
    max-width: 600px;
    height: 600px;
}
.form{
    display: block;
    margin: 0 auto;
    max-width: calc(100% - 4em);
    text-align: center;
}

input {
    margin: 10px;
    padding: 10px;
    border: 0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius: 10px;
}
.submitButton{
    margin: 10px;
    border: 0;
    border-radius: 10px;
    padding: 20px;
    background-color: #cf8c4e;
}