*, *::before, *::after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box; /* Internet Explorer 8 */
    -webkit-box-sizing: border-box; /* Safari 3 */
    -khtml-box-sizing: border-box; /* Konqueror */
}
html{
    background-color: #DDC3D0;
    box-sizing: border-box;
    font-size: 16px;
}
.wrapper{
    padding: 20px;
}
.view{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}
.viewButton{
    display: flex;
    flex-wrap: wrap;
    margin-right: 20px;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 4px 4px grey;
}
.viewButton:hover{
    cursor: pointer;
    background-color: grey;
}